<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Save Yourself</title>
    </head>
    <body>
        <center class="rainbow-text">D I S A S T E R </center>
        <center class="rainbow-text">M E S S A G I N G</center>
        <br>
        <center class="blinking">Enter Phone Number:</center>
        <center>
            <input id="new_number"style="width: 10rem;" type="text" min="10" max="11">
        </center>
        <br>
        <center class="blinking">Enter Zip Code:</center>
        <center>
            <input id="new_zip"style="width: 10rem;" type="text" min="10" max="11">
            <br><button onclick="pushNumber()">Subscribe</button>
        </center>
        <div id="map"></div>
    </body>
    <script src="../static/script.js"></script>
</html>