<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Save Yourself</title>
    </head>
    <body>
        <center class="rainbow-text">D I S A S T E R </center>
        <center class="rainbow-text">M E S S A G I N G</center>
        <br>
        <center class="blinking">Enter Phone Number:</center>
        <center>
            <input id="new_number"style="width: 10rem;" type="text" min="10" max="11">
        </center>
        <br>
        <center class="blinking">Enter Zip Code:</center>
        <center>
            <input id="new_zip"style="width: 10rem;" type="text" min="10" max="11">
            <br><button onclick="pushNumber()">Subscribe</button>
            Firebase: <input id="use_firebase" type="checkbox"unchecked>
        </center>
        <div id="map"></div>
        <center style="padding: 100px;">
            <input id="passphrase"style="width: 10rem; text-align: center;" type="password">
            <br><button onclick="login()">Admin Login</button>
            <center id="admin_portal"></center>
        </center>
    </body>
    <script src="/__/firebase/init.js"></script>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="/__/firebase/7.9.1/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="/__/firebase/7.9.1/firebase-analytics.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="/__/firebase/7.9.1/firebase-auth.js"></script>
    <script src="/__/firebase/7.9.1/firebase-firestore.js"></script>
    <!-- Previously loaded Firebase SDKs -->
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-firestore.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyARt9KlJ_bp9iAGUjoaUNXoMBIKohpmZqA",
            authDomain: "disaster-alerts.firebaseapp.com",
            databaseURL: "https://disaster-alerts.firebaseio.com",
            projectId: "disaster-alerts",
            storageBucket: "disaster-alerts.appspot.com",
            messagingSenderId: "90711094847",
            appId: "1:90711094847:web:0d784a2c31c01bfd95ea8a",
            measurementId: "G-0T55XN59WF"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
    <script src="../static/script.js"></script>
</html>